
/* WHITEBOARD TOOL BAR */
.whiteboard-toolbar{
  background:#ffa726;
  position:relative;
  top:0px;
  width:900px;
  margin:0 auto;
  padding:10px;
  margin-bottom:0px;
  text-align: left;

  border-radius:2px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
}

.whiteboard-toolbar h2{
  font-size:1em;
  color:white;
  display:inline-block;
  font-weight: 300;
  padding-left:30px;
  vertical-align: middle;
}

#imgInp{
  color:black;
}

.wb-img{
  position:absolute;
  width:200px;
  height:auto;
}
#profile-form{
  position:relative;
  width:100%;
  min-height:100px;
  margin-top:25%;
  background:#F0F0F0;
  color:#757575;
  text-align: center;
  float:left;
  border-radius:2px;
  
  -webkit-transition: all 0.3s 0 ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -ms-transition: all 0.3s 0 ease-in-out;
  -o-transition: all 0.3s 0 ease-in-out;
  transition: all 0.3s 0 ease-in-out;
}

.pd{
  width:100%;
  border:none;
  border-bottom:rgba(0,0,0,0.4) solid 1px;
  text-align:left;
  padding-bottom:5px;
  margin-bottom:25px;
  font-size:10px;
  background:none;
  font-weight:300;
  color:black;
}
#profile-form h5{
  color:rgba(38, 50, 56, 0.9);
  margin-bottom:0;
}

#critiques{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
}
#critiques a img{
  width:35px;
  height:auto;
}