<div class="sub-navbar">

  <a href="#">
    <div class="sub-button" id="hide-leftbar">
      Hide Tags
    </div>
  </a>

  
</div>


<div class="gallery-container">

  <div class="project-container">
    <div class="project">
      <div class="about">
          <img src="images/andy.png" alt="andy-face">
          <h3>Aaron Cheng</h3>
          <p>Interactive Designer at BCIT</p>
      </div>
      <div class="project-image">
        
      </div>
      <div class="project-about">
        <h3>EDGE U of A Branding</h3>
        <p>This is a branding project that includes a logo and a website. This is a personal project that is very corporate.</p>
      </div>
      <a href="#/project">VIEW PROJECT</a>
    </div>

    <div class="project">
      <div class="about">
          <img src="images/andy.png" alt="andy-face">
          <h3>Aaron Cheng</h3>
          <p>Interactive Designer at BCIT</p>
      </div>
      <div class="project-image">
        
      </div>
      <div class="project-about">
        <h3>EDGE U of A Branding</h3>
        <p>This is a branding project that includes a logo and a website. This is a personal project that is very corporate.</p>
      </div>
      <a href="#/project">VIEW PROJECT</a>
    </div>

    <div class="project">
      <div class="about">
          <img src="images/andy.png" alt="andy-face">
          <h3>Aaron Cheng</h3>
          <p>Interactive Designer at BCIT</p>
      </div>
      <div class="project-image">
        
      </div>
      <div class="project-about">
        <h3>EDGE U of A Branding</h3>
        <p>This is a branding project that includes a logo and a website. This is a personal project that is very corporate.</p>
      </div>
      <a href="#/project">VIEW PROJECT</a>
    </div>

    <div class="project">
      <div class="about">
          <img src="images/andy.png" alt="andy-face">
          <h3>Aaron Cheng</h3>
          <p>Interactive Designer at BCIT</p>
      </div>
      <div class="project-image">
      </div>


      <div class="project-about">
        <h3>EDGE U of A Branding</h3>
        <p>This is a branding project that includes a logo and a website. This is a personal project that is very corporate.</p>
      </div>
      <a href="#/project">VIEW PROJECT</a>
    </div>

    <div class="project">
      <div class="about">
          <img src="images/andy.png" alt="andy-face">
          <h3>Aaron Cheng</h3>
          <p>Interactive Designer at BCIT</p>
      </div>
      <div class="project-image">
        
      </div>
      <div class="project-about">
        <h3>EDGE U of A Branding</h3>
        <p>This is a branding project that includes a logo and a website. This is a personal project that is very corporate.</p>
      </div>
      <a href="#/project">VIEW PROJECT</a>
    </div>

    <div class="project">
      <div class="about">
          <img src="images/andy.png" alt="andy-face">
          <h3>Aaron Cheng</h3>
          <p>Interactive Designer at BCIT</p>
      </div>
      <div class="project-image">
        
      </div>
      <div class="project-about">
        <h3>EDGE U of A Branding</h3>
        <p>This is a branding project that includes a logo and a website. This is a personal project that is very corporate.</p>
      </div>
      <a href="#/project">VIEW PROJECT</a>
    </div>
    
  </div>
</div>

<div class="sort-by">
    <h3>Design Area</h3>
    <ul>
      <a href="#"><li>Architecture</li></a>
      <a href="#"><li>Graphic Design</li></a>
      <a href="#"><li>Interior Design</li></a>
      <a href="#"><li>Illustration</li></a>
      <a href="#"><li>Web Design</li></a>
      <a href="#"><li>Interactive Design</li></a>
      <a href="#"><li>Industrial Design</li></a>
      <a href="#"><li>Photography</li></a>
      <a href="#"><li>Fine-arts</li></a>
    </ul>

    <h3>By Category</h3>
    <ul>
      <a href="#"><li>Highest Rated</li></a>
      <a href="#"><li>Most Watched</li></a>
      <a href="#"><li>Most Critiqued</li></a>
      <a href="#"><li>Most Defended</li></a>
      <a href="#"><li>Random</li></a>
    </ul>
</div>










